.BetterCheckoutTextContainer {
	color: #fff;
}

.ListCardsBetterCheckout {
	margin-top: 64px;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
	padding: 0;
}

.CardBetter {
	color: #fff;
	list-style: none;
	width: 22%;
}

.HeaderCard {
	font-size: 26px;
}

.HeaderCard>h3 {
	margin: 0;
}

/* .BetterCheckoutTextContainer>h1 {
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
	0% {
		filter: blur(12px);
		opacity: 0;
	}

	100% {
		filter: blur(0px);
		opacity: 1;
	}
} */

@media (max-width:450px) {
	.BetterCheckoutContainer {
		max-width: 98vw;
		width: 90%;
		margin: 0 auto;
	}

	.BetterCheckoutTextContainer {
		max-width: 100vw;
		width: 95%;
		margin: 0 auto;
	}

	.ListCardsBetterCheckout {
		display: flex;
		flex-direction: row;
		max-width: 100vw;
		width: 90%;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 0;
		margin: 0 auto;
		margin-top: 64px;
		overflow-x: scroll;
		gap: 32px;
	}

	.CardBetter {
		color: #fff;
		list-style: none;
		max-width: 100vw;
		width: 320px;
	}

	.HeaderCard>h3 {
		width: 300px;
	}
}