
.Whatscontainer{
	display: flex;
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 3;
}

.Whatsicon{
	height: 100px;
	width: 100px;
	cursor: pointer;
}

@media (max-width:450px) {
	.Whatscontainer{
		display: flex;
		position: fixed;
		bottom: 10px;
		right: 10px;
		z-index: 3;
	}
}