
.PartnersContainer{
	display: flex;
	width: 90%;
	flex-direction: column;
	background-color: #fff;
	padding: 32px;
	align-self: center;
	margin: 0 auto;
	border-radius: 16px;
}

.BackgroundPartners{
	padding: 16px;
	
}

@media (max-width:450px){
	.PartnersContainer{
		display: flex;
		max-width: 100vw;
		width: 90%;
		flex-direction: column;
		background-color: #fff;
		padding: 4px;
		align-self: center;
		margin: 0 auto;
		border-radius: 16px;
	}


	.BackgroundPartners{
		padding: 0px;
		
	}

	.BackgroundPartners>h1{
		font-size: 36px;
		width: 90%;
		margin: 0 auto;
		margin-top: 12px;
	}

}